<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="accountRepository" 
	      class="com.qa.repository.HibernateAccountRepositoryImpl" />

	<bean name="accountService" 
		  class="com.qa.service.AccountServiceImpl">
		   <constructor-arg index="0" ref="accountRepository" />
		
	</bean>

</beans>
